In [1]:
names = ['Bob','Jessica','Mary','John','Mel']
births = [968, 155, 77, 578, 973]

In [2]:
import pandas as pd

In [6]:
data = list(zip(names, births))

In [16]:
print(data)

[('Bob', 968), ('Jessica', 155), ('Mary', 77), ('John', 578), ('Mel', 973)]

In [13]:
df = pd.DataFrame(data, columns=['Name', 'Births'])

In [15]:
df

     Names  Births
0      Bob     968
1  Jessica     155
2     Mary      77
3     John     578
4      Mel     973

In [ ]:
df.to_csv("data/names.csv", index=False)