In [2]:
import pandas as pd

In [10]:
imdb = pd.read_csv("data/imdb_1000.csv")

In [11]:
df.head()

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."

In [30]:
bikes = pd.read_csv("data/bikes.csv", sep=';', parse_dates=['Date'], dayfirst=True,
                   index_col='Date')
# pd.to_datetime(bikes['Date'], format="%d/%m/Y")

In [31]:
bikes.head()

,Unnamed: 1,Rachel / Papineau,Berri1,Maisonneuve_2,Maisonneuve_1,Brébeuf,Parc,PierDup,CSC (Côte Sainte-Catherine),Pont_Jacques_Cartier
Date,,,,,,,,,,
2012-01-01,00:00,16,35,51,38,5.0,26,10,0,27.0
2012-01-02,00:00,43,83,153,68,11.0,53,6,1,21.0
2012-01-03,00:00,58,135,248,104,2.0,89,3,2,15.0
2012-01-04,00:00,61,144,318,116,2.0,111,8,1,19.0
2012-01-05,00:00,95,197,330,124,6.0,97,13,2,16.0

In [32]:
bikes.columns

Index(['Unnamed: 1', 'Rachel / Papineau', 'Berri1', 'Maisonneuve_2',
       'Maisonneuve_1', 'Brébeuf', 'Parc', 'PierDup',
       'CSC (Côte Sainte-Catherine)', 'Pont_Jacques_Cartier'],
      dtype='object')

In [33]:
bikes.dtypes

Unnamed: 1                      object
Rachel / Papineau                int64
Berri1                           int64
Maisonneuve_2                    int64
Maisonneuve_1                    int64
Brébeuf                        float64
Parc                             int64
PierDup                          int64
CSC (Côte Sainte-Catherine)      int64
Pont_Jacques_Cartier           float64
dtype: object